.userDataForm {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
  box-shadow: gray 0 0 10px 0;
  width: 700px;

  .text-field {
    width: 80%;
    margin: 20px;
    align-self: center;
  }

  span{
    align-self: center;
    flex-direction: row;

    .submitButton {
      align-self: center;
      margin-bottom: 20px;
      margin-right: 20px;
    }
    .deleteButton {
      align-self: center;
      margin-bottom: 20px;
    }
  }

  .file-field {
    width: 300px;
    align-self: center;
    margin-bottom: 20px;
  }

  h4 {
    align-self: center;
    margin-top: 20px;
  }
}

