.navbar header  {
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  height: 80px;

  .avatar1 {
    background-color: red;
    width: 200px;
    cursor: pointer;
  }
  .userName{
    width: auto;
    height: 80%;
    align-self: center;
    flex-direction: row;
    display: flex;
  }

  .avatar-container {
    margin-right: 50px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    align-self: center;
    border-radius: 50%;
  }
  .avatar {
    width: 80px;
    height: 60px;
    margin: auto;
  }
  span{
    align-self: center;
    .signIn-button {
      margin-right: 20px;
    }
    .signUp-button{
      margin-right: 20px;
      border:1px white solid;

    }
    .logo:hover{
      background: inherit;
    }
  }
}

