.navbar header  {
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  height: 80px;

  .avatar1 {
    background-color: red;
    width: 200px;
    cursor: pointer;
  }
  .menu{
    top:60px;
  }
  .avatar {
    margin-right: 50px;
    //width: 200px;
    align-self: center;
    //background: red;
  }
  span{
    align-self: center;
    .signIn-button {
      margin-right: 20px;
    }
    .signUp-button{
      margin-right: 20px;
      border:1px white solid;

    }
    .logo:hover{
      background: inherit;
    }
  }
}

